.button-close {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  fill: white;
  position: absolute;
  top: 21px;
  left: 10px;
}
.button-open {
  fill: black;
  background-color: transparent;
}
